.App {
  /* height: 100vh; */
}

.journal-input {
  font-size: 32px;
  height: 20em;
  width: 20em;
  margin-top: 5em;
  border: none;
  font-family: "Cinzel", serif;
  box-shadow: 0px 0px 10px 0px #888;
}

.journal-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(white, lightpink, rgb(250, 144, 162));
}

#header-div {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  margin-top: 0;
  color: black;
  border-bottom: solid 3px black;
  /* padding-top: 10px; */
  padding-bottom: 10px;
  background-color: white;
}
/* .header-dropdown{
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  color: black;
} */
.journal {
  margin-left: 39%;
  font-family: "Permanent Marker", cursive;
  font-size: 70px;
  margin-top: 0;
}

.unwind-banner {
  padding: 0;
  width: 35%;
}

.journal-title {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 210px;
  font-size: 210px;
  margin-top: 160px;
  margin-bottom: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px white;
}

.dropdown {
  display: none;
}

.buttons {
  display: inline-block;
  border: 0.1em solid white;
  margin: 0.2em 2em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  color: pink;
  text-align: center;
  transition: all 0.2s;
  text-transform: uppercase;
  width: 20%;
  height: 40px;
}

button:hover {
  color: white;
  border-color: black;
  background-color: black;
}

.click {
  border: solid black 2px;
  height: 180px;
  width: 200px;
  background-color: rgb(252, 172, 0);
  color: black;
  border-radius: 40%;
  top: 46%;
  left: 45%;
  position: absolute;
  text-align: center;
  font-size: 80px;
  line-height: 15px;
}

.turn {
  border: solid black 2px;
  color: black;
  width: 20%;
  background-color: rgb(9, 243, 247);
  height: 180px;
  width: 200px;
  border-radius: 40%;
  top: 46%;
  left: 70%;
  position: absolute;
  text-align: center;
  font-size: 80px;
  line-height: 15px;
  /* padding: 10px; */
}

.slide {
  border: solid black 2px;
  color: black;
  height: 180px;
  width: 20%;
  background-color: rgb(9, 238, 9);
  width: 200px;
  border-radius: 40%;
  top: 46%;
  left: 19%;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  font-size: 80px;
  line-height: 15px;
}

.test {
  border: solid black 2px;
  color: black;
  height: 180px;
  width: 20%;
  background-color: rgb(9, 238, 9);
  width: 200px;
  border-radius: 40%;
  top: 76%;
  left: 19%;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  font-size: 80px;
  line-height: 15px;
}

.test1 {
  border: solid black 2px;
  color: black;
  height: 180px;
  width: 20%;
  background-color: rgb(9, 238, 9);
  width: 200px;
  border-radius: 40%;
  top: 76%;
  left: 70%;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  font-size: 80px;
  line-height: 15px;
}
.test2 {
  border: solid black 2px;
  color: black;
  height: 180px;
  width: 20%;
  background-color: rgb(9, 238, 9);
  width: 200px;
  border-radius: 40%;
  top: 76%;
  left:45%;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  font-size: 80px;
  line-height: 15px;
}

.current-choice {
  position: absolute;
  top: 10%;
  left: 43%;
  font-size: 50px;
  /* display: none; */
}

.game-body {
  height: 50px;
  width: 60%;
  background-color: white;
  /* border-radius: 50%; */
  position: absolute;
  top: 50%;
  left: 20%;
}

.game-div {
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(0.40turn, #e66465, #9198e5); */
  background: -webkit-linear-gradient( white,rgb(123, 220, 252), rgb(3, 188, 249));
}

.game-wrapper {
  /* grid-template-rows: 1fr 1fr 1fr; */
  display: flex;
  height: 300px;
}

.announce {
  position: absolute;
  top: 10%;
  left: 32%;
  font-size: 50px;
}

.home {
  background: -webkit-linear-gradient(.80turn, rgb(3, 188, 249), rgb(123, 220, 252),lightpink, rgb(250, 144, 162));
  height: 100vh;

}


.btn1 {
  position: absolute;
  top: 43%;
  left: 27%;
  font-size: 30px;
  color:black;
  text-decoration: none;
 
}
.btn2 {
  position: absolute;
  top: 47%;
  left: 55%;
  font-size: 30px;
  color:black;
  text-decoration: none;
}

.btn1:hover {
  color: white;
}
.btn2:hover {
  color: white;
}

.fas {
  margin-left: 80px;;
}

.game {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  left: 32%;
  top: 37%;
  font-size: 40px;
}
.journal1 {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  top: 37%;
  left: 61%;
  font-size: 40px;
}

 #header-button:hover {
  /* border: solid black 3px; */
  color:rgb(9, 238, 9)
}
#header-button {
  color: black;
  border: white solid 3px;
  padding-left: 10%;
}

.sign-up {
  position: absolute;
  right: 10%;
  top: 18%;
  border: solid white 2px;
  padding: 10px;
 
}
.sign-in {
  position: absolute;
  right: 10%;
  top: 41%;
  border: solid white 2px;
  padding: 10px;
}
input {
  line-height: 20px;
   width: auto;
}

#start-button {
  /* position: absolute; */
  left: 42.5%;
  top: 80%;
  font-size: 40px;
}

#reset-button {
  /* position: absolute; */
  right: 40%;
  top: 80%;
  font-size: 40px;
}
#control-panel {
  position: absolute;
  top: 15%;
  left: 32%;
}

#score {
 position: absolute;
 right: 15.5%;
 top: 10%;
 font-size: 45px;
 display: flex;
 width: auto;
 height: 150px;
 /* flex-wrap: wrap; */
 justify-content: center;
}
