.App {
  /* height: 100vh; */
}

.journal-input {
  font-size: 32px;
  height: 20em;
  width: 20em;
  margin-top: 5em;
  border: none;
  font-family: "Cinzel", serif;
  box-shadow: 0px 0px 10px 0px #888;
}

.journal-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(white, lightpink, rgb(250, 144, 162));
}

#header-div {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  position: absolute;
  margin-top: 0;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
/* .header-dropdown{
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  color: black;
} */
.journal {
  margin-left: 39%;
  font-family: "Permanent Marker", cursive;
  font-size: 70px;
  margin-top: 0;
}

.unwind-banner {
  padding: 0;
  width: 35%;
}

.journal-title {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 210px;
  font-size: 210px;
  margin-top: 160px;
  margin-bottom: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px white;
}

.dropdown {
  display: none;
}

.buttons {
  display: inline-block;
  border: 0.1em solid white;
  margin: 0.2em 2em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  color: pink;
  text-align: center;
  transition: all 0.2s;
  text-transform: uppercase;
  width: 20%;
  height: 40px;
}

button:hover {
  color: white;
  border-color: black;
  background-color: black;
}

.click {
  border: solid black 2px;
  height: 180px;
  width: 200px;
  background-color: rgb(252, 172, 0);
  border-radius: 40%;
  top: 46%;
  left: 45%;
  position: absolute;
  text-align: center;
  font-size: 80px;
  line-height: 15px;
}

.flip {
  border: solid black 2px;
  width: 20%;
  background-color: rgb(9, 243, 247);
  height: 180px;
  width: 200px;
  border-radius: 40%;
  top: 46%;
  left: 70%;
  position: absolute;
  text-align: center;
  font-size: 80px;
  line-height: 15px;
}

.turn {
  border: solid black 2px;
  height: 180px;
  width: 20%;
  background-color: rgb(9, 238, 9);
  width: 200px;
  border-radius: 40%;
  top: 46%;
  left: 19%;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  font-size: 80px;
  line-height: 15px;
}

.game-body {
  height: 100px;
  width: 60%;
  background-color: white;
  /* border-radius: 50%; */
  position: absolute;
  top: 50%;
  left: 20%;
}

.game-div {
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(white, lightblue, rgb(136, 136, 186));
}

.visuals-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(
    rgb(247, 4, 4),
    rgb(10, 170, 223),
    rgb(247, 4, 4)
  );
}

.announce {
  font-size: 50px;
  top: 0;
}

.game-wrapper {
  /* grid-template-rows: 1fr 1fr 1fr; */
  display: flex;
  height: 300px;
}

.game-body-div {
  /* grid-row-start: 2;
 grid-row-end: 3; */
}
.announce {
  position: absolute;
  top: 10%;
  left: 32%;
}

.home {
  background: -webkit-linear-gradient(white, rgb(181, 190, 193), rgb(105, 86, 113));
  height: 100vh;
}


.btn1 {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 30px;
  color:black;
  text-decoration: none;
 
}
.btn2 {
  position: absolute;
  top: 44%;
  left: 45%;
  font-size: 30px;
  color:black;
  text-decoration: none;
}

.btn3 {
  position: absolute;
  top: 70%;
  left: 70%;
  font-size: 30px;
  text-decoration: none;
  color:black;
}

.game {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  left: 21%;
  top: 14%;
  font-size: 40px;
}
.journal1 {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  top: 32%;
  left: 46%;
  font-size: 40px;
}
.music {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  top: 60%;
  left: 73%;
  font-size: 40px;
}
.fas {
  color: black;
}

.sign-up {
  position: absolute;
  right: 10%;
  top: 18%;
  border: solid white 2px;
  padding: 10px;
 
}
.sign-in {
  position: absolute;
  right: 10%;
  top: 41%;
  border: solid white 2px;
  padding: 10px;
}
input {
  line-height: 20px;
   width: auto;
}
